{% extends "announcement/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="content-section">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Новое объявление:</legend>

                {{ form.media }}
                {{ form.title|as_crispy_field }}
                {{ form.text }}
                {{ form.category|as_crispy_field }}

            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-info" type="submit">Сохранить</button>
            </div>
        </form>
    </div>
{{ post.body|safe }}
{% endblock content %}