{% extends "announcement/base.html" %}
{% block content %}
  <article class="media content-section">
    <img class="rounded-circle article-img" src="{{ object.author.profile.image.url }}">
    <div class="media-body">
      <div class="article-metadata">
        <a class="mr-2" href="{% url 'user-posts' object.author.username %}">{{ object.author }}</a>
        <small class="text-muted">{{ object.date_posted|date:"F d, Y" }}</small>
      </div>
      <h2 class="article-title">{{ object.title }}</h2>
      <p class="article-content">{{ object.text|safe }}</p>
       <b class="ansi-bold">Category: <i style="color: blue">{{ object.category }}</i></b>
    </div>
    {% if object.author == user %}
          <div>
            <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'post-update' object.id %}">Редактировать</a>
            <a class="btn btn-danger btn-sm mt-1 mb-1" href="{% url 'post-delete' object.id %}">Удалить</a>
          </div>
    {% endif %}

    {% if user.is_authenticated %}
    <br><br>
        {% if respond == "Откликнулся" %}
            <a style="color:red">Вы откликнулись на это объявление.</a><br>
            <a href="{% url 'responses' %}">Посмотреть свои отклики</a>
        {% elif respond == "Мое_объявление" %}
            <a style="color:red">Вы не можете откликнуться на свое объявление.</a><br>
        {% else %}
            <a class="btn btn-secondary" href="/respond/{{ post.id }}" role="button">Откликнуться</a>
        {% endif %}
    {% endif %}
    <br><br>

  </article>
{% endblock content %}